
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <!-- begin: Menu Nosotros -->
            <div class="kt-header__bottom">
                <div class="kt-container ">
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                            <ul class="kt-menu__nav ">

                                
                                <li id="li_nom" class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Valores Mensuales</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-dollar-sign"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Registrar Gastos", "index", "valorUtilizado")</span></p>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-clipboard-list"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Listado de Deudores", "indexld", "proveedores")</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                
                                <li id="li_prov" class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Mi informaci&oacute;n</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-info-circle"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Editar Información", "indexp", "proveedores")</span></p>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Header Menu -->
        </div>
    </div>
</div>

<div class="jumbotron" style="text-align:justify">
    <h2 style="text-align:center">GESTI&Oacute;N DE PROVEEDORES</h2>
    <img style="width:100%;height:auto;" title="Ventana Principal de la Gestión de Proveedores." alt="Banner Principal" src="../Content/media/logos/prov.jpg" />
</div>