@model Creditos.Models.mIngresos

<!-- begin:: Encabezado VENTANA PRINCIPAL -->
<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h4>
                Reportes
            </h4>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>
        <!-- Begin -- Tipo de usuario actual -->
        <div class="kt-subheader__toolbar">
            <h6> Est&aacutes en: </h6>
            <div class="kt-subheader__wrapper">
                <a class="btn kt-subheader__btn-primary">
                    Asociaci&oacute;n
                </a>
            </div>
        </div>
        <!-- end -- Tipo de usuario actual -->
    </div>
</div>
<!-- end:: Subheader -->

<h2 style="text-align:center;">REPORTES DE N&Oacute;MINA</h2>
<br />

@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample2">
        <div class="card">
            <div class="card-header" id="headingOne7">
                <div class="card-title" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne7">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg> Reporte Mensual de Descuentos
                </div>
            </div>
            <div id="collapseOne2" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample2">
                <div class="card-body">
                    <div>
                        <div class="kt-portlet__body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="kt-section">
                                        <label>Mes:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                                            @Html.DropDownListFor(m => m.mes_id, ViewBag.mes as SelectList, "--Seleccione un Mes--", new { @id = "mes_ids", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.asociacion_id, new { @id = "asociacion_id", @Value = "1" })
                            <div>
                                <button type="button" onclick="generarReporteI(); " class="btn btn-primary">Generar Reporte</button>
                                <button type="button" id="imprimir" onclick="Imprimir(); " class="btn btn-primary">Imprimir</button>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
    <div class="card">
        <div id="contenedorEgresos">
        </div>
    </div>
</div>

@*Reporte*@
<script type="text/javascript">

        function generarReporteI() {
            var _idMes = $('#mes_ids').val();
            var _idIngreso = $('#_idIngreso').val();
        $.ajax({
            url: '@Url.Action("ConsultarIngreso", "ingresos")',
            type: 'post',
            dataType: 'JSON',
            data: { _idMes: _idMes },
            data: { _idIngreso: _idIngreso },
            beforeSend: function () {
                $("#contenedorIngresos").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');

            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                console.log(data);
                if (data.validar == true) {
                    $("#contenedorIngresos").html(data.tabla);
                } else {
                    $("#contenedorIngresos").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contenedorIngresos").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contenedorIngresos").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contenedorIngresos").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contenedorIngresos").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (contenedorAsistencia === 'timeout') {
                    $("#contenedorIngresos").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contenedorIngresos").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contenedorIngresos").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }
</script>
@*hasta aqui*@

<script>
        function Imprimir() {

          $("#contenedorIngresos").print({
            addGlobalStyles: true,
            stylesheet: null,
            rejectWindow: true,
            noPrintSelector: "",
            iframe: true,
            append: null,
            prepend: null
        });
        }
</script>