@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:justify">
    <h2 style="text-align:center">BIENVENIDO AL SISTEMA DE GESTION</h2>
    <img style="width:100%;height:auto;" title="Ventana Principal del Sistema de Gestion de Roles y Creditos."  alt="Banner Principal" src="../Content/media/logos/banner.png" />
    <p class="lead">Contenido aqu&iacute;.</p>
    <h3 style=" text-align:center">BIENVENIDO</h3>
</div>