
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            
            <!-- begin: Menu Nosotros -->
            <div class="kt-header__bottom">
                <div class="kt-container ">
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                            <ul class="kt-menu__nav ">
                                <li class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true" >
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Ingresos</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                        <ul class="kt-menu__subnav">

                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-comment-dollar"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Nuevo Ingreso", "index", "ingresos")</span></p>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-comment-dots"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Tipo de Ingresos", "index", "tipoIngresos")</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true" >
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Egresos</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                        <ul class="kt-menu__subnav">

                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-comment-slash"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink(" Nuevo Egreso", "index", "egresos")</span></p>
                                            </li>

                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-comment-dots"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Tipo de Egresos", "index", "tipoEgresos")</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li  class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Convenios</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-city"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Agreagar Proveedores", "index", "proveedores")</span></p>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-clipboard"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Gestionar Convenios", "index", "asociacionProveedor")</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li  class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Empleados</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-chalkboard-teacher"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Ingreso a Asociación", "index", "empleadoAsociacion")</span></p>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-chalkboard"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Aprobar Créditos", "indexA", "credito")</span></p>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-chart-line"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Cantidad Asignada", "index", "valorAsignado")</span></p>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-chart-bar"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Ajustar Valores por Empleado", "indexa", "valorUtilizado")</span></p>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Reportes</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <p class="kt-menu__link "><i class="fa fa-file-pdf"><span></span></i><span class="kt-menu__link-text"> &nbsp;&nbsp;@Html.ActionLink("Listado de Reportes", "indexr", "ingresos")</span></p>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Header Menu -->   
            
        </div>
    </div>
    
</div>

<div class="jumbotron" style="text-align:justify">
    <h2 style="text-align:center">GESTI&Oacute;N DE LAS ASOCIACIONES</h2>
    <img style="width:100%;height:auto;" title="Ventana Principal de la Gestión de las Asociaciones." alt="Banner Principal" src="../Content/media/logos/aso.png" />
</div>